{% extends 'dashboard/base.html' %}
{% block title %}Tools{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4 text-center">Software Engineering Tools</h1>

    <!-- Integrated Development Environment -->
    <section class="bg-light p-4 mb-5">
        <h2 class="mb-4">Integrated Development Environments (IDE) </h2>
        <div class="row">
            <div class="col-lg-4">
                <!-- Card for Visual Studio Code -->
                <div class="card mb-4 text-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Visual_Studio_Code_1.35_icon.svg" class="category-thumbnail" alt="Visual Studio Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Visual Studio Code</h5>
                        <p class="card-text">Visual Studio Code: A lightweight yet powerful code editor designed for optimal productivity and seamless integration with a wide range of programming languages and frameworks</p>
                        <a href="https://code.visualstudio.com/download" class="btn btn-primary" target="_blank">Download</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4">
                <!-- Card for Sublime Text -->
                <div class="card mb-4 text-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Breezeicons-apps-48-sublime-text.svg" class="category-thumbnail" alt="Sublime Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Sublime Text</h5>
                        <p class="card-text">Sublime Text: A lightning-fast, highly customizable code editor offering unparalleled speed and flexibility for developers across diverse programming languages and projects.</p>
                        <a href="https://www.sublimetext.com/download" class="btn btn-primary" target="_blank">Download</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4">
                <!-- Card for Pycharm Text -->
                <div class="card mb-4 text-center">
                    <img src="/static/img/tools/pyCharm.png" class="category-thumbnail" alt="PyCharm Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Pycharm</h5>
                        <p class="card-text">PyCharm: A powerful Python IDE with smart code completion, advanced debugging, and seamless version control integration. Ideal for boosting productivity in Python development.</p>
                        <a href="https://www.jetbrains.com/pycharm/download/?section=windows" class="btn btn-primary" target="_blank">Download</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4">
                <!-- Card for Intellij -->
                <div class="card mb-4 text-center">
                    <img src="/static/img/tools/IntelliJ.png" class="category-thumbnail" alt="Sublime Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Intellij</h5>
                        <p class="card-text">IntelliJ IDEA: A smart and feature-rich Java IDE designed to boost productivity with advanced coding assistance, powerful refactoring tools, and seamless integration with version control systems.</p>
                        <a href="https://www.jetbrains.com/idea/download/?section=windows" class="btn btn-primary" target="_blank">Download</a>
                    </div>
                </div> 
            </div>
            <!-- Add more cards for other tools -->
        </div>
    </section>

    <!-- Online Integrated Development Environment -->
    <section class="bg-light p-4 mb-5">
        <h2 class="mb-4"> Online Integrated Development Environments (IDE) </h2>
        <div class="row">
            <div class="col-lg-4">
                <!-- Card for codepen -->
                <div class="card mb-4 text-center">
                    <img src="/static/img/tools/replit.png" class="category-thumbnail" alt="codepen Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Repl.it</h5>
                        <p class="card-text">Replit is a web-based IDE for coding in multiple programming languages, offering real-time collaboration, package management, and instant deployment.</p>
                        <a href="https://replit.com/" class="btn btn-primary" target="_blank">Sign Up / Login</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4">
                <!-- Card for codepen -->
                <div class="card mb-4 text-center">
                    <img src="/static/img/tools/codepen.png" class="category-thumbnail" alt="codepen Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Code Pen</h5>
                        <p class="card-text">CodePen is an online platform for testing and showcasing HTML, CSS, and JavaScript code snippets. It offers live previews, code sharing, and collaboration tools for front-end developers to prototype and experiment with web projects in a real-time environment.</p>
                        <a href="https://codepen.io/" class="btn btn-primary" target="_blank">Sign up / Login</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4">
                <!-- Card for gitpod Text -->
                <div class="card mb-4 text-center">
                    <img src="/static/img/tools/gitpod.jpg" class="category-thumbnail" alt="Gitpod Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Gitpod</h5>
                        <p class="card-text">
                            Gitpod is a cloud-based IDE offering seamless integration with Git, pre-configured environments, and collaborative coding features, streamlining software development workflows.</p>
                        <a href="https://www.gitpod.io/" class="btn btn-primary" target="_blank">Sign up / Login</a>
                    </div>
                </div> 
            </div>
            <!-- Add more cards for other tools -->
        </div>
    </section>

    <!-- Whiteboarding Tools -->
    <section class="bg-light p-4 mb-5">
        <h2 class="mb-4"> Whiteboarding and flowchart Tools </h2>
        <div class="row">
            <div class="col-lg-4">
                <!-- Card for Miro -->
                <div class="card mb-4 text-center">
                    <img src="/static/img/tools/miro.png" class="category-thumbnail" alt="Miro Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Miro</h5>
                        <p class="card-text">Miro offers a collaborative online whiteboard platform that allows teams to work together remotely. It provides a wide range of templates and tools for brainstorming, planning, and visual collaboration.</p>
                        <a href="https://miro.com/" class="btn btn-primary" target="_blank">Sign Up / Login</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4">
                <!-- Card for Jamboard -->
                <div class="card mb-4 text-center">
                    <img src="/static/img/tools/jamboard.png" class="category-thumbnail" alt="Jamboard Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Jamboard</h5>
                        <p class="card-text">Jamboard is a collaborative digital whiteboarding tool developed by Google. It offers a simple and intuitive interface for brainstorming, ideation, and visual collaboration.</p>
                        <a href="https://jamboard.google.com/" class="btn btn-primary" target="_blank">Sign up / Login</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4">
                <!-- Card for Drawio -->
                <div class="card mb-4 text-center">
                    <img src="/static/img/tools/drawio.png" class="category-thumbnail" alt="Drawio Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Draw io</h5>
                        <p class="card-text">
                            Draw.io is an intuitive online diagramming tool that offers a wide range of shapes, templates, and collaboration features for creating professional diagrams quickly and easily.</p>
                        <a href="https://draw.io/" class="btn btn-primary" target="_blank">Launch</a>
                    </div>
                </div> 
            </div>
            <!-- Add more cards for other tools -->
        </div>
    </section>

<!-- Video Conferencing, collaboration and virtual meetings  -->
<section class="bg-light p-4 mb-5">
    <h2 class="mb-4"> Video conferencing, Collaboration and virtual meeting tools </h2>
    <div class="row">
        <div class="col-lg-4">
            <!-- Card for codepen -->
            <div class="card mb-4 text-center">
                <img src="/static/img/tools/google_meet.png" class="category-thumbnail" alt="google meet Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Google Meet</h5>
                    <p class="card-text">Google Meet is a secure and user-friendly video conferencing platform designed for seamless virtual meetings, offering features like screen sharing, real-time captions, and integration with other Google Workspace apps.</p>
                    <a href="https://meets.google.com" class="btn btn-primary" target="_blank">Create / join</a>
                </div>
            </div> 
        </div>
        <div class="col-lg-4">
            <!-- Card for Zoom -->
            <div class="card mb-4 text-center">
                <img src="/static/img/tools/zoom.png" class="category-thumbnail" alt="zoom Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Zoom</h5>
                    <p class="card-text">Zoom: Versatile video conferencing platform renowned for its user-friendly interface, high-quality video/audio, screen sharing, and collaborative features, facilitating seamless online meetings and webinars.</p>
                    <a href="https://zoom.us/" class="btn btn-primary" target="_blank">Sign up / Login</a>
                </div>
            </div> 
        </div>
        <div class="col-lg-4">
            <!-- Card for Microsoft Teams Text -->
            <div class="card mb-4 text-center">
                <img src="/static/img/tools/microsoft_teams.png" class="category-thumbnail" alt="Microsoft teams Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Microsoft Teams</h5>
                    <p class="card-text">
                        Microsoft Meetings: A feature-rich video conferencing solution within Microsoft 365, offering seamless collaboration with screen sharing, chat, and integration with other Microsoft tools.</p>
                    <a href="https://www.microsoft.com/en-us/microsoft-teams/online-meetings" class="btn btn-primary" target="_blank">Sign up / Login</a>
                </div>
            </div> 
        </div>
        <!-- Add more cards for other tools -->
    </div>
</section>


</div>
{% endblock %}
